@keyframes animation1 {
	0%{
		border-top-color: #FEC602;
	}
	
	50% {
		border-top-color: #900;
	}

	100% {
		border-top-color: #0f0;
	}
}

html {
	font-size: 14px;
}
.bg-black {
	background-color: #000;
}

.display-5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.lead{
	font-size:  1rem;
}

.social a {
	display: inline-block !important;
	border: thin solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	width: 35px;
	height: 35px;
	line-height: 35px;
	padding: 0;
	text-align: center;
	margin: 0 5px;
}

.color1 {
	color: #CC8282;
}



#sec-1 {
	background: url('../images/banner.jpg') no-repeat -580px center;
	height: 100vh;
}



#sec-4 .card span {
	background-color: rgba(0,0,0,0.5);
	left:20px;
	top: 20px;
	border-radius: 10px;
	
}

#sec-8 {
	background:	linear-gradient(RGBA(1,47,1,0.38),RGBA(1,47,1,0.50)),
		url('../images/contactus.jpg') no-repeat center center;
}

#sec-8 form {
	box-shadow: 0 0 3px 2px #FEC602;
	border-radius: 10px;
}

#sec-8 form input:last-of-type {
	letter-spacing: 2px;
}

#sec-8 .textShadow * {
	text-shadow: 0 0 10px #000;
}

#sec-9 i {
	min-width: 25px;
}

#sec-9 input:first-of-type {
	outline: none;
	border:none;
	border-bottom: thin solid #fff;
	padding-bottom: 5px;
	color: #fff;
	background-color: black;
}

#sec-9 {
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #FEC602;
	animation: animation1 4s linear infinite alternate;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
	html{
		font-size: 16px;
	}
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
	#sec-1 {
		background-position: center center;
	}
}
